.about {
  min-height: calc(100vh - 250px);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.5;
}

.card {
  display: flex;
  justify-content: center;
}

.card-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.card-cont img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
  justify-self: center;
}

.card-cont p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

.card-cont span {
  color: rgb(113, 34, 186);
}

.card-cont a {
  text-decoration: none;
}

.card-cont a:hover {
  color: royalblue;
}

.containerb h4{
color:var(--primary-color);
font-size: 20px;
margin: 16px 0;
}

.containerb h5{
color: black;
font-size: 18px;
margin-bottom: 10px;
padding-left: 10px;
}
.containerb p{

padding-left: 14px;
margin-bottom: 5px;
}



/* RESPONSIVE */
@media (max-width: 900px) {
  .card-cont {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .card-cont img {
    max-width: 300px;
  }

  .card-cont p {
    font-size: 16px;
    padding: 0 10px;
  }
}
