.authors{
    padding: 30px;
}


.authors-search{
margin-bottom: 30px;
}

.authors-search input{
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 21px;

}
.authors-wrapper{
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
}

.author{
    width: 400px;
    height: 365px;
    border: 1px solid gray;
    padding: 15px;
    margin: 5px;
    margin-bottom:20px;
    text-align: center;
    background-color: white;
    border-radius: 7px;
}

.author-img{
width: 100%;
height: 300px;
object-fit: cover;
border-radius: 7px;
}



