.footer{
    padding: 10px 30px;
 
    background-color: var(--primary-color);
}

.footer-social{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid var(--maincolor);
   padding: 10px;
   padding-bottom: 20px;
}
 .text{
    color: var(--main-color);
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 14px;
        border-bottom: 1px solid var(--main-color);
        width: max-content;
        padding-bottom: 2px;
}

.footer-wrapper{
display: flex;
align-items: center;

}

.icons{
margin: 0 15px;
background-color: var(--main-color);
width: 50px;
height: 50px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
   

}

.icons:hover{
transform: scale(0.6);
transition: all .4s ease ;
}

.icons i{
    font-size: 21px;
}

.links{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
 
}

.linkes-items{
    width: 30%;
    padding-right: 40px;
}

.h3{
    color:  white;
    font-size: 21px;
    font-weight: 700;
    border-bottom: 3px solid white;
    width: max-content;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.items{
    margin-bottom: 20px;
    font-size: 17px;
    color: var(--main-color);
}
.address i{
    margin-right: 10px;
    font-size: 16px;
}
.des{
    font-size: 19px;
    color: var(--main-color);
    margin-left: 80px;

}
h3{
    border-bottom: 1px solid var(--main-color);
    width: max-content;
    margin-bottom: 4px;
}


 

 @media(max-width:900px){
 .des{
    position: relative;
    left: -10px;
    top: 10px;
    width: 80%;
 }
 }

@media(max-width:640px){
    .links{
        flex-direction: column;
    }

    .linkes-items{
        width: 80%;
        margin-bottom: 10px;
    }
    .address{
        margin-bottom: 7px;
    }

 .des{
    position: relative;
    left: -90px;
    top: 10px;
    width: 80%;
 }
}


@media(max-width:340px){
    .linkes-items{
        width: 100%;
        margin-bottom: 10px;
    }
    .address{
        margin-bottom: 7px;
    }
}