.form-wrapper{
height: calc(100vh - 250px);
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 25px;
}

.form-title{
    font-size: 24px;
    padding-bottom: 20px;
  color: white;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 500px; /* or use: height: calc(100vh - 250px); */
  background-color: white; /* white background */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.form-title {
  font-size: 24px;
  padding-bottom: 20px;
  color: var(--primary-color);
  text-align: center;
}

.form-content input {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.btn {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 17px;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  background-color: var(--third-color);
}

.form-footer {
  margin-top: 10px;
  font-size: 16px;
  color: var(--primary-color);
}

.reg {
  color: var(--primary-color);
  margin-left: 5px;
  font-weight: bold;
}

.reg:hover {
  color: var(--third-color);
}

.form-img {
  flex: 1;
  height: 100%;
}

.form-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive design */
@media (max-width: 900px) {
  .form {
    flex-direction: column;
    height: auto;
  }

  .form-img {
    height: 200px;
  }

  .form-img img {
    height: 100%;
  }
}
