:root{
  --main-color:#eee8e8;
  --primary-color:#084a84;
  --third-color:#c278a6;
}

*{
 box-sizing:border-box;
 padding: 0;
 margin: 0; 
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
 sans-serif;
}

body {
 background-color: var(--main-color);
}

ul{
  list-style:none;
}

input:focus{
  outline: none;
}
